@using AskIt.Models
@model ChatUser

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4">
        @Html.TextBoxFor(o => o.chatGroup)
        <input type="submit" value="GO" class="btn btn-default" />
    </div>
</div>

